<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Historical Exchange Rates against Euro</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <span class="navbar-brand" >Past six months Exchange Rates against Euro. Current day of the month: </span>
        <span class="navbar-brand" th:text="${historical.dayOfTheMonth}">.</span>
        <span class="navbar-brand">You can use the URL parameter '&day=14' to choose a different day.</span>
    </nav>

    <main role="main" class="container">

        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Currency</th>
                <th th:each="rates : ${historical.rates}">
                    <span th:text="${rates.monthFriendlyName}"></span>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GBP</td>
                    <td th:each="rates : ${historical.rates}">
                        <span th:text="${rates.currencyRate.poundSterling}"></span>
                    </td>
                </tr>
                <tr>
                    <td>USA</td>
                    <td th:each="rates : ${historical.rates}">
                        <span th:text="${rates.currencyRate.usDollar}"></span>
                    </td>
                </tr>
                <tr>
                    <td>HKD</td>
                    <td th:each="rates : ${historical.rates}">
                        <span th:text="${rates.currencyRate.hongKongDollar}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" value="next" class="btn btn-success"
                onclick="window.location='./?view=true'">Previous Page</button>
    </main>
    <!-- /.container -->

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>