<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Historical Exchange Rates Page Error</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Exchange Rates Historical Rates Error Page</a>
        </nav>
        <main role="main" class="container">
            <div class="alert alert-danger alert-dismissible fade show">
                A problem has been occurred while submitting your request: <br/><br/>
                <strong th:text="${historical.get('error')}"></strong>
                <br/><br/>
            </div>
            <button type="submit" value="next" class="btn btn-success"
                    onclick="window.location='./historical?view=true'">Click here to return</button>
        </main>
        <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    </body>
</html>