<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Exchange Rates against Euro</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Today's rates against Euro</a>
</nav>

<main role="main" class="container">

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Currency</th>
                <th th:text="${rates.date}"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>GBP</td>
                <td th:text="${rates.currencyRate.poundSterling}"></td>
            </tr>
            <tr>
                <td>USA</td>
                <td th:text="${rates.currencyRate.usDollar}"></td>
            </tr>
            <tr>
                <td>HKD</td>
                <td th:text="${rates.currencyRate.hongKongDollar}"></td>
            </tr>
        </tbody>
    </table>
    <button type="submit" value="next" class="btn btn-success"
            onclick="window.location='./historical?view=true'">Next Page</button>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>